// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: $purple;
$body-bg: whitesmoke;
$border-radius: .4rem;

@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
//
// Custom styles
//
html {
  height: 100%;
}

body {
  height: 100%;
  // overflow: hidden;
  // padding: 3rem 1.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 10pt;
  background: #b3ced8 url("../../images/airplane.jpg") no-repeat center fixed;
  // transform: scale(1.4);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: navy;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
}

.bg {
  height: 100%;
  padding: 3rem 1.5rem;
  color: blue;
  animation: fadeIn 2s forwards;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  // border: 0.5rem solid navy;
}

.form-container {
  padding: .8rem 1.4rem;
  margin: 1px 2px;
  font-size: 1.05rem;
  // background-color: rgba(250,250,250,0.7);
  border-color: black;
  border-radius: 6px;
}

.form-container:focus {
  // background-color: rgb(221, 238, 248);
  background-color: rgb(237, 240, 216);
  border-color: blue;
  box-shadow: 1px 1px 10px 2px rgb(161, 167, 170);
  // box-shadow: 0 0 10px 2px rgb(0 0 0 / 20%);
}

.remove-btn {
  position: absolute;
  color: white;
  background: blue;
  border: none;
  margin-block-start: 20px;
  border-radius: 16px;
}

.error {
  background-color: rgb(247, 215, 215);
  border-color: red;
}

#chart {
  background-color: rgba(255, 255, 255, 0.767);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
